<% include ../layout/header.ejs %>
<div class="wrapper">
 <div class="container">
          <div class="content">
            <form action="" method="post" class="add-form">
            <h2>Добавление поста</h2>
                <div class="form-group">
                    <label for="title">Заголовок</label><br>
                    <input name="title" type="text" class="form-control" id="title" aria-describedby="" required/>
                  </div>
                  <div class="form-group">
                    <label for="">Описание</label><br>
                    <textarea name="body" id="body" class="form-control" rows="10" cols="25" contenteditable="true"></textarea>
                  </div>
                  <div class="form-group">
                      <button class="form-control-btn publish-btn">Опубликовать</button>
                  </div>
            </form>
          </div>
        </div>
          <% include ../layout/form.ejs %>

</div>
<% include ../layout/footer.ejs %>