<% include ../layout/header.ejs %>
    <div class="wrapper">
        <div class="container">
      
            <div class="post__item">
                <div class="post__header">
                    <h3><%= post.title %></h3>
                </div>
            <div class="post__body">
                <div class="post__fulldescr">
                    <p><%= post.body %></p>
                </div>
                <div class="post__author">
                    <h5><%= post.owner %></h5>
                </div>
            </div>
            </div>

        </div>
      
        <% include ../layout/form.ejs %>
    </div>
<% include ../layout/footer.ejs %>