<% include layout/header.ejs %>
    <div class="wrapper">
        <div class="container">
          
        </div>
        <% if(!user._id && !user.login) { %> 
        <% include form.ejs %>
        <% }else{  %>
        <p class="Hi">Привет <%= user.login %> ! </p> 
        <a href='/api/auth/logout'> Выход</a>
        <% }%>

    </div>
<% include layout/footer.ejs %>