@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");
header {
  display: flex;
  justify-content: center;
  flex-direction: row;
  height: 50px;
  align-items: center;
  height: 50px;
  padding: 10px 0; }
  header a {
    text-decoration: none;
    color: black; }

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 20px;
  box-sizing: content-box;
  position: relative; }

.usercab {
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.4);
  text-align: center;
  padding: 20px 20px;
  border: 1px solid white;
  border-radius: 5px;
  width: 270px; }

.forms form {
  position: relative;
  font-size: 18px;
  font-style: bold;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.4);
  text-align: center;
  padding: 20px 5px;
  border: 1px solid white;
  border-radius: 5%; }
  .forms form input {
    font-size: 18px;
    font-style: bold;
    padding: 0 10px;
    border-radius: 5%; }
  .forms form button {
    padding: 10px 20px;
    font-weight: 300;
    font-size: 18px;
    text-shadow: 0px 1px 0 rgba(0, 0, 0, 0.25);
    background: #FA8072;
    border: none;
    margin-top: 10px; }
    .forms form button:hover {
      cursor: pointer; }

.regform {
  display: none; }

.error {
  position: relative;
  text-align: center;
  background-color: #FA8072;
  border-radius: 5%;
  margin-top: 10px; }

.success {
  position: relative;
  text-align: center;
  background-color: lightgreen;
  padding: 10px 10px;
  border-radius: 5%;
  margin-top: 10px; }

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  background: rgba(255, 255, 255, 0.3); }

.content {
  margin: 0 auto;
  text-align: center;
  width: 1000px; }
  .content form {
    position: relative;
    font-size: 18px;
    font-style: bold;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.4);
    padding: 20px 20px;
    text-align: center;
    border: 1px solid white;
    border-radius: 1%; }
  .content input {
    font-size: 18px;
    width: 750px;
    font-style: bold;
    padding: 0 10px;
    border-radius: 5%; }
  .content button {
    padding: 10px 20px;
    font-weight: 300;
    font-size: 18px;
    text-shadow: 0px 1px 0 rgba(0, 0, 0, 0.25);
    background: #FA8072;
    border: none;
    margin-top: 10px; }
    .content button:hover {
      cursor: pointer; }
  .content textarea {
    width: 750px;
    font-size: 18px;
    font-style: bold;
    padding: 0 10px;
    border-radius: 1%; }
  .content .error {
    position: relative;
    text-align: center;
    background-color: #FA8072;
    border-radius: 5%;
    margin-top: 10px; }
  .content .success {
    position: relative;
    text-align: center;
    background-color: lightgreen;
    padding: 10px 10px;
    border-radius: 5%;
    margin-top: 10px; }

.post__item {
  background: rgba(255, 255, 255, 0.4);
  margin-bottom: 20px;
  border: 1px solid white;
  border-radius: 5px;
  width: 1000px;
  padding: 5px 10px; }

.post__header {
  text-align: center; }

.post__descr p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.post__delete {
  display: block;
  width: 100px;
  text-align: center;
  border: none;
  margin: 0 auto;
  padding: 5px;
  background: salmon; }
  .post__delete:hover {
    cursor: pointer; }

* {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif; }
  * a {
    text-decoration: none;
    color: seagreen; }

body {
  background: url("/images/bg.jpg");
  background-size: cover; }

.pagination a {
  color: black; }
.pagination .page__btn {
  display: block;
  width: 100px;
  text-align: center;
  border-radius: 2%;
  padding: 5px;
  background: salmon; }
.pagination .new {
  float: left; }
.pagination .old {
  float: right; }

/*# sourceMappingURL=style.css.map */
